* {
  margin: 0;
  padding: 0;
}

.map_label {
  margin: 0 auto;
  margin-top: -0.4vw;
  margin-bottom: 3vw;
  text-align: center;
  font-size: 1.2vw;
}

.map_container {
  margin: 1vw auto;
  width: 90vw;
  height: 50.65vw;
  min-width: 600px;
  position: relative;
  /*border: 1px solid;*/
}

.map_image {
  position: absolute;
  width: 90vw;
}

.map {
  opacity: 0.9;
  width: 90vw;
  margin-left: -59px;
}

.map g {
  fill: #FFF;
  /*stroke: #F00;*/
  /*stroke-width: 20px;*/
  stroke-opacity: 0.9;
}

.map path {
  cursor: pointer;
  opacity: 0.01;
  position: absolute;
}

.map path:hover {
  /*stroke-opacity: 1;*/
  /*fill: #F00;*/
  opacity: 0.14;
}

.info_box {
  display: none;
  position: absolute;
  background: #013248;
  opacity: 0.82;
  padding: 1vw 0.6vw;
  width: 14vw;
  height: 26.6vw;
  border: 1px solid #01202e;
  border-radius: 1.4vw;
  color: #FEFEFE;
  text-align: center;
  font-size: 0.76vw;
  top: 0;
  left: 0;
}

.bright_grey {
  color: #DDD;
}

.area_name {
  font-size: 1.6vw;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
}

.info_box ul {
  text-align: left;
  list-style: none;
}

.info_box li {
  width: 10.6vw;
  margin: 0 auto;
  margin-top: 0.5vw;
  padding: 0 0.03vw;
  color: #DDD;
  border-bottom: 1px solid #557B8F;
}

.info_box li span {
  float: right;
  text-align: right;
  width: 4.5vw;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #FEFEFE;
  font-size: 0.8vw;
}

.info_box .stats {
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #FEFEFE;
  width: 10.6vw;
  margin: 0 auto;
  margin-top: 0.8vw;
  padding: 0.24vw;
  font-size: 0.68vw;
  opacity: 1.0;
}

.info_box .stats span {
  display: block;
  font-size: 1vw;
}

.info_box .area_vacancy {
  background: #529AB2;
}

.info_box .area_income {
  background: #16708B;
}

.info_box .area_population {
  background: #397A90;
}