* {
  margin: 0;
  padding: 0;
}

.overlay {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
}

.close {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1.2vw;
  text-decoration: underline;
  cursor: pointer;
  color: #FFF;
  padding: 0.6%;
}

.map_popup_container {
  display: none;
  position: absolute;
  width: 92vw;
  height: 94vh;
  margin: 4vh 4vw;
  margin-bottom: 0;
  z-index: 20;
}

.container-fluid {
  padding: 0;
}

.sidebar {
  display: block;
  width: 15%;
  height: 100vh;
  margin: 0 auto;
  float: left;
  background: #3c3c3c;
  text-align: center;
  color:#EEE;
}

.sidebar h3 {
  font-size: 1.3vw;
}

.toggle {
  width: 90%;
  font-size: 1vw;
  padding: 0.6vw 0vw;
  background: #6c9999;
  margin: 5% auto;
  color: #DDD;
  border-radius: 0.6vw;
  cursor: pointer;
}

.toggle:hover {
  font-weight: bold;
  color: #FFF;
  background: #6c99b7;
}

.active {
  background: #3CF;
  color: #FFF;
  font-weight: bold;
  border: 2px solid #ff4d00;
  cursor: default;
}

.active:hover {
  background: #3CF;
}

.map_label {
  clear: both;
  margin-top: -0.3%;
  text-align: right;
  font-size: 0.9vw;
  cursor: pointer;
  text-decoration: underline;
}

.map_wrapper {
  width: 85%;
  position: relative;
  float: right;
  display: block;
}

.map_image {
  position: absolute;
  width: 100%;
}

.map {
  opacity: 0.9;
  width: 100%;
}

.map g {
  fill: #FFF;
  stroke: #F00;
  stroke-width: 0.3%;
  stroke-opacity: 0.9;
}

.map path {
  cursor: pointer;
  opacity: 0.01;
  position: absolute;
}

.map path:hover {
  opacity: 0.14;
}

.info_box {
  display: none;
  position: absolute;
  background: #013248;
  opacity: 0.82;
  padding: 0.6% 0.2%;
  width: 20%;
  height: 55%;
  border: 1px solid #01202e;
  border-radius: 1.5%;
  color: #FEFEFE;
  text-align: center;
  font-size: 0.8vw;
  bottom: 0;
  right: 0;
}

.bright_grey {
  color: #DDD;
}

.area_name {
  font-size: 1.4vw;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
}

.info_box ul {
  text-align: left;
  list-style: none;
  margin-bottom: 7%;
}

.info_box li {
  width: 90%;
  margin: 0 auto;
  margin-top: 2.8%;
  padding: 0.3% 0;
  color: #DDD;
  border-bottom: 1px solid #557B8F;
}

.info_box li span {
  float: right;
  text-align: right;
  width: 40%;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #FEFEFE;
  font-size: 0.9vw;
}

.info_box .stats {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #FEFEFE;
  width: 92%;
  margin: 0 auto;
  margin-top: 3%;
  padding: 2%;
  font-size: 0.9vw;
  opacity: 1.0;
}

.info_box .stats span {
  display: block;
  font-weight: bold;
  font-size: 1vw;
}

.info_box .area_vacancy {
  background: #529AB2;
}

.info_box .area_income {
  background: #16708B;
}

.info_box .area_population {
  background: #397A90;
}