* {
  margin: 0;
  padding: 0;
}

.overlay {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
}

.close {
  margin: 0.2% 1%;
  font-size: 400%;
  color: #EEE;
}

.map_popup_container {
  display: none;
  position: absolute;
  width: 90vw;
  height: 90vh;
  margin: 4vh 5vw;
  z-index: 20;
}

.main_container {
  padding-top: 1%;
}

.sidebar {
  display: block;
  width: 16%;
  height: 90vh;
  padding-right: 0.8vw;
  margin: 0 auto;
  float: left;
  border-right: 1px solid;
  text-align: center;
}

.toggle {
  width: 100%;
  font-size: 18px;
  padding: 0.6vw 0vw;
  background: #6c9999;
  margin: 10px auto;
  color: #DDD;
  border-radius: 10px;
  cursor: pointer;
}

.toggle:hover {
  font-weight: bold;
  color: #FFF;
  background: #6c99b7;
}

.active {
  background: #3CF;
  color: #FFF;
  font-weight: bold;
  border: 3px solid #e94400;
  cursor: default;
}

.active:hover {
  background: #3CF;
}

.map_label {
  clear: both;
  margin-top: -0.3%;
  text-align: right;
  font-size: 90%;
  cursor: pointer;
  text-decoration: underline;
}

.map_container {
  margin: 0 auto;
  width: 80%;
  min-width: 600px;
  position: relative;
  overflow: hidden;
  float: right;
  display: block;
}

.map_image {
  position: absolute;
  width: 100%;
}

.map {
  margin: 0 auto;
  opacity: 0.9;
  width: 100%;
}

.map g {
  fill: #FFF;
  stroke: #F00;
  stroke-width: 20px;
  stroke-opacity: 0.9;
}

.map path {
  cursor: pointer;
  opacity: 0.01;
  position: absolute;
}

.map path:hover {
  opacity: 0.14;
}

.info_box {
  display: none;
  position: absolute;
  background: #013248;
  opacity: 0.82;
  padding: 0.6% 0.2%;
  width: 20%;
  height: 55%;
  border: 1px solid #01202e;
  border-radius: 1.5%;
  color: #FEFEFE;
  text-align: center;
  font-size: 100%;
  bottom: 0;
  right: 0;
}

.bright_grey {
  color: #DDD;
}

.area_name {
  font-size: 125%;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
}

.info_box ul {
  text-align: left;
  list-style: none;
  margin-bottom: 7%;
}

.info_box li {
  width: 90%;
  margin: 0 auto;
  margin-top: 2.8%;
  padding: 0.3% 0;
  color: #DDD;
  border-bottom: 1px solid #557B8F;
}

.info_box li span {
  float: right;
  text-align: right;
  width: 40%;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #FEFEFE;
  font-size: 110%;
}

.info_box .stats {
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #FEFEFE;
  width: 92%;
  margin: 0 auto;
  margin-top: 6%;
  padding: 2%;
  font-size: 100%;
  opacity: 1.0;
}

.info_box .stats span {
  display: block;
  font-size: 100%;
}

.info_box .area_vacancy {
  background: #529AB2;
}

.info_box .area_income {
  background: #16708B;
}

.info_box .area_population {
  background: #397A90;
}